stages:
  - test
  - notify

variables:
  PYTHONPATH: "."
  PIP_ROOT_USER_ACTION: "ignore"

default:
  image: python:3.12
  before_script:
    # 1. Сначала обновляем pip
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt

# Основной запуск автотестов
run_autotests:
  stage: test
  script:
    - echo "Запуск автотестов Eflow..."
    - pytest tests/ -v
  allow_failure: true    
  tags:
    - apps
  rules:
    - if: '$CI_MERGE_REQUEST_ID'
      when: on_success
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: manual
    - when: never

notify_fail:
  stage: notify
  script:
    - echo "Некоторые автотесты упали. См. логи job run_autotests."
  when: on_failure
  allow_failure: true